@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
--cor-primaria:black;
--cor-secundaria:whitesmoke;
--cor-terciaria:#F2BD02;
--font-size-24px:1.5rem
/* variaaveis no css para saber mais sobre root */
}
* {
    margin: 0%;
    padding:0%;
}
body{
    /* height: 100vh; no inicio usamos para usar 100% de página */
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
    /* usamos a variavel Root para dar nome para as cores assim,
    em qualquer parte de projeto que quisermos aplicaraquela cor usamor Var( -- NOME DADO-#cor) */
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    
    display: flex;
    gap: 80px;
}

.cabecalho__link{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    color:var(--cor-terciaria);
    text-decoration: none;
    font-size: var(--font-size-24px)
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__titulo{
    font-size:2.25rem ;
    font-family: 'Krona One', sans-serif;

}
.alteracao__titulo{
    color: #F2BD02 ;
}
.apresentacao__paragrafo__01{
    font-family: 'Montserrat', sans-serif;
    font: size 24px;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px
}
.apresentacao__links__subtitulo{
    font-size: var(--font-size-24px);
    font-family:'Krona One', sans-serif ;
    font-weight: 400;
}

.apresentacao__links__link{
    /* background-color:#F2BD02; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width:50%;
    text-align: center;
    border-radius: 8px;
    color:whitesmoke;
    text-decoration: none;
   font-size:var(--font-size-24px);
   padding: 21.5px 0;
   font-family:'Montserrat', sans-serif;
   font-weight: 600;
   border: 2px solid #F2BD02;
}
.apresentacao__links__link:hover{
    background-color: #272727;
}
.apresentacao__imagem{
width: 50%;
}
.rodape{
    background-color: #F2BD02;
    color:black;
    padding: 24px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
@media (max-width:1275px) { /* usamos isso para determinar quando a tela vai mudar de tamnaho para melhorar a experiencia do usuario */
   .cabecalho{
    padding: 10%;
   }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto ;
    }
}
/* fim */